@import url('normalize.css');

/* Box-sizing */
body * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header, main, nav, article, aside, div {
	display: block;
	overflow: hidden;
}

/* Struktur */
#wrapper {
	width: 100%;
	max-width: 1000px;
	margin: 20px auto;
}

header {
	width: 100%;
	background: #11eeff;
}

nav {
	float: left;
	width: 25%;
}

main {
	float: right;
	width: 75%;
}

article {
	width: calc(100% / 2 - 20px);
	float: left;
	background-color: #11eeff;
	margin: 10px;
}

